@import url(//fonts.google.com/specimen/Poiret+One);
@import url(//fonts.google.com/specimen/Righteous);

body {
	background-color: #b6d0df;
}
h1 {
	text-align: right;
	font-family: 'rockwell' ;
	font-size: 4.5em;
	color: 	#2e3e47;
}
h2 {
	font-family: 'rockwell';
	font-size: 2em;
	color: #2e3e47;
}

h3 {
	font-family: 'rockwell';
	font-size: 1.25em;
	text-align: center;	
	color: #2e3e47;
}

p {
	color: #2e3e47;
	font-family: 'rockwell' ;
	font-size: 1.15em; 
	margin: 50px;
}
a:link, ul li a:visited {
  	color: #f6fafd;
	text-decoration: none;
}

footer {
	margin-top: 50%;
}

/*index page*/

.hello {
 	margin-left: 65%;
}


/*About Me*/
table {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1.5px solid #2e3e47;	
}

td {
	color:#2e3e47;
	font-family: 'poiret one' ;
	font-size: 1em; 
}
caption, th {
	text-align: center;
	font-family: 'rockwell' ;
	font-weight: bold;
	color: #2e3e47;
	font-size: 1.25em;
}

/*Navigation Header*/	
nav {
	background: url(terrazzo.jpg) repeat-x;
}
nav ul {
  	padding: 0;
  	list-style-type: none;
  	display: flex;
  	flex-wrap: wrap;
	text-align: center;
	font-family: 'rockwell' ;
	font-weight: bold;
}

nav ul li {
 	font-size: 1em;
  	flex: 1 1 10%;
}
nav ul li a { 	
  	display: block; 	
  	padding: 1em 1em; 		
  	border-radius: .5em; 
  	margin: .25em; 
	justify-content: space-evenly;
} 	

nav ul li a:link, nav ul li a:visited {
  	color: #2e3e47;
	text-decoration: none;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  	color: #2e3e47;
}